*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f1bebe;
  background-image: radial-gradient(
    ellipse 68.58% 76.33% at 50% 50%,
    #e96d6c 60.6557%,
    #f1bebe 100%
  );
  background-attachment: fixed;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #1e1e1e;
}

.app {
  width: 100vw;
  height: 100vh;
  background: inherit;
}

.cartography {
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
}

.cartography svg:focus {
  outline: none;
}

.cartography svg {
  display: block;
  width: 100%;
  height: 100%;
  overflow: visible;
  cursor: default;
}

.cartography .artwork-hit,
.cartography .tag-hit {
  cursor: pointer;
  pointer-events: all;
  outline: none;
}

.cartography .artwork-hit:focus,
.cartography .tag-hit:focus {
  outline: none;
}
